<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body style="background-image: url(https://images.unsplash.com/photo-1460602594182-8568137446ce?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c6a89cf0d31c8ed23b35aaf9a119a9f5&w=1000&q=80);background-position: center;background-position: bottom">
    <div style="background-color:lightsteelblue; margin:20% 40% " >
        <div>
            <input style="align-items: center" type="text" placeholder="TITLE" name="title" id="title">
        </div>
        <div>
            <input type="text" placeholder="DESCRIPTION" name="description" id="description">
        </div>
        
        <div>
            <input type="text" placeholder="PRICE" name="price" id="price">
        </div>
        <div>
            <button id="submititem">SUBMIT</button>
        </div>
    </div>
    <script src="/scripts/admin.js"></script>

</body>

</html>